.section-grid.vision {
  grid-template-rows: 20px auto;
}

.vision__text-container {
  grid-area: 2 / 2 / 3 / 10;
}
.vision__text {
}

@media (min-width: 568px) {
  .section-grid.vision {
    grid-template-rows: 60px auto;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1279px) {
  .section-grid.vision {
    grid-template:
      "." 100px
      "."
      / 130px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr minmax(0, 0);
  }
}
