.section-grid.about {
  grid-template-rows: 100px auto auto auto;
  position: relative;
}

.about__text-1 {
  grid-area: 2 / 2 / 3 / 6;
}
.about__text-2 {
  grid-area: 3 / 2 / 4 / 6;
}
.about__text-3 {
  grid-area: 4 / 2 / 5 / 11;
}

.about__image-container {
  grid-area: 2 / 7 / 5 / 10;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex: 1;
  display: inline;
  position: relative;
}
