.bg-grid__grid-line {
  display: none;
  z-index: -1;
  width: 1px;
  min-height: 5000px;
  background-color: rgba(130, 228, 202, 0.25);
}

.vertical {
  z-index: 1;

  height: 1px;
  min-height: 1px;
  min-width: 5000px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.blue {
  background-color: rgba(13, 91, 255, 0.25);
}
@media (min-width: 568px) {
  .bg-grid__grid-line {
    display: block;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1279px) {
}
