.section-grid.contact {
  grid-row-gap: 20px;
  grid-template-rows: 20px auto auto auto;
}

.w-form {
  margin: 0 0 15px;
}

.form-block {
  height: 100%;
  margin-top: 20px;
  position: relative;
}

.form {
  flex-direction: column;
  display: flex;
}

label {
  color: #0ce5ca;
  margin-bottom: 5px;
  font-family: Slatestd, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  display: block;
}

.text-field-container {
  width: 100%;
  border-bottom: 1px solid rgba(130, 228, 202, 0.25);
  margin-left: 20px;
}

.text-field {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  margin-bottom: -10px;
  margin-left: 10px;
  padding-bottom: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.text-field.note {
  width: 100%;
  height: 150px;
  border-width: 1px;
  border-color: rgba(130, 228, 202, 0.25);
  margin-left: 0;
}

.div-text__field {
  align-items: flex-end;
  margin-bottom: 10px;
  display: flex;
}

.div-text__field.note {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.btn-div {
  justify-content: flex-start;
  margin-top: 10px;
  display: flex;
}

.btn-submit {
  line-height: inherit;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  display: inline-block;
  width: auto;
  color: #0ce5ca;
  background-color: #27282a;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  flex: 0 auto;
  align-self: center;
  padding: 10px 15px;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
  position: relative;
  -webkit-appearance: button;
}

.btn-submit:hover {
  color: #27282a;
  background-color: #0ce5ca;
}

.contact-text-container {
  padding-top: 25px;
}

.contact-item.--1,
.contact-item.--2,
.contact-item.--3 {
  grid-column: 2/9;
}
.contact-item.--1 {
  grid-row: 2/3;
}
.contact-item.--2 {
  grid-row: 3/4;
}
.contact-item.--3 {
  grid-row: 4/5;
}

@media (min-width: 568px) {
  .section-grid.contact {
    grid-template-rows: 40px auto auto auto;
  }
  .btn-submit {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .section-grid.contact {
    grid-template-rows: 60px auto auto auto;
    grid-row-gap: 10px;
  }
}
@media (min-width: 1279px) {
  .section-grid.contact {
    grid-template-rows: 100px auto auto auto;
  }
  .form-block {
    margin-top: 40px;
  }
  .btn-submit {
    width: 28.7%;
  }
  .btn-div {
    justify-content: flex-end;
  }
}
